.font {
    position: relative;
    font-weight: bold;
    color: #374151 !important;
    top: 0% !important;
    bottom: -15px;
}

.date-input-container {
    position: relative;
    display: inline-block;
}

.date-position {
    position: relative;
    top: 45px;
    right: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: inherit;
}

.date-input {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s;
}

.date-input:focus {
    border-color: #007BFF;
}

.date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    width: 24px;
    height: 24px;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 22px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #ccc;
    transition: color 0.3s;
}

.date-input:focus + .calendar-icon {
    color: #007BFF;
}

.date-input:focus::-webkit-calendar-picker-indicator {
    opacity: 1;
}
