.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  /* top: 3px; */
  left: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8371fd;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.button-container {
  position: relative;
  text-align: center;
}

.button-container .btn {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.btn.blue {
  color: #4caf50;
  background-color: rgba(0, 255, 8, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
}

.btn.red {
  color: #ad4848;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 10px;
}

.btn.blue:hover,
.btn.red:hover {
  opacity: 0.8;
}
